<!DOCTYPE html>
<html>

<head>
    <link type="text/css" rel="stylesheet" href="../../static/Trend/css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        Kyo͝or
    </title>
</head>

<body>

    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper container">
                <a href="#!" class="brand-logo">Kyo͝or</a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="#" id="keynote">Logout</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="container">
        <div id="main-container">
            <div class="row">
                <form class="col s6 offset-s3">
                    <div class="row">
                        <div class="input-field col s6">
                            <input id="first_name" type="text" class="validate">
                            <label for="first_name">First Name</label>
                        </div>
                        <div class="input-field col s6">
                            <input id="last_name" type="text" class="validate">
                            <label for="last_name">Last Name</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="email" type="email" class="validate">
                            <label for="email">Email</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="degree" type="text" class="validate">
                            <label for="email">Specialization</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <input id="first_name" type="text" class="validate">
                            <label for="first_name">City</label>
                        </div>
                        <div class="input-field col s6">
                            <input id="last_name" type="text" class="validate">
                            <label for="last_name">State</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="email" type="email" class="validate">
                            <label for="email">Country</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col s12 center-align"><a class="waves-effect waves-light btn">Sign In</a></div>
                    </div>
                </form>
            </div>
            <p class="center-align"><a href="#">Forgot password?</a></p>
        </div>
    </div>
    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">About</h5>
                    <p class="grey-text text-lighten-4">providing relieve of the symptoms of a disease or condition during epidemics</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Reach us</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">Facebook</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Twitter</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2017 Kyo͝or
            </div>
        </div>
    </footer>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script type="text/javascript" src="../../static/Trend/js/script.js"></script>
</body>

</html>
